* {     /*  Retirar todas as configurações pré existentes  */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: montserrat, sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #faf6f6ef;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header_page {
    width: 100%;
    height: 60px;
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #1d1616;
    border-bottom: 1px solid rgba(155, 155, 154, 0.938);
}

.header_page p {
    font-size: 2rem;
    font-family:sans-serif;
    color: white;
    margin: 1rem;
    text-transform: uppercase;
}

.logo_img_header {
    width: 45px;
    height: 45px;
    margin: 0.5rem 1rem;
}

.logo_img_header img {
    display: flex;
    width: 100%;
    height: 100%;
}

.start_initial {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 90vh;
}

.group_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.group_phone img {
    height: 50rem;
}

.group_login_logout {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.logo_nome_botafogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo_nome_botafogo p {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.logo_botafogo {
    height: 3rem;
    margin: 0 1rem;
}

.profile_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile_photo img {
    height: 7.5rem;
}

.login {
    background-color: #1d1616;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    margin: 0.5rem;
}

.login:hover {
    background-color: gray;
}

.logout {
    color: #1d1616;
    margin: 0.5rem;
}

.logout:hover {
    color: black;
}

.not_account {
    color: #1d1616;
}

.link_blue {
    color: #0095f6;
}

.link_blue:hover {
    color:royalblue;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    background-color: #ffffff;
    border: 1px solid lightgray;
}

.apps_download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app_download {
    height: 3rem;
    width: 10rem;
    margin-top: 10px;
    background-size: cover;
}

.app_download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app_download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}
